<div class="flex flex-col items-center">
  <div>
    <input type="text" />
    <button (click)="handleSearchClick()">Search</button>
  </div>

  <div>
    <app-city-card
      *ngFor="let city of cities; trackBy: trackBy"
      [city]="city"
    ></app-city-card>
  </div>

  <div>
    <mat-paginator
      (page)="handlePageChange($event)"
      [length]="totalCities"
      [pageSize]="5"
      aria-label="Select page"
      [hidePageSize]="true"
      [ariaHidden]="true"
    >
    </mat-paginator>
  </div>
</div>
